<h1>授業の登録</h1>

<%= form_with(model: @course, url: courses_path, method: :post) do |f| %>
    <div class="field">
        <%= f.label :name, '授業名' %>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :credit_hours, '単位' %>
        <%= f.number_field :credit_hours %>
    </div>

    <div class="field">
        <%= f.label :grade, '成績' %>
        <%= f.select :grade, ['S','A', 'B', 'C', 'D', 'Z','F'], { include_blank: true } %>
    </div>

    <div class="actions">
        <%= f.submit '授業を登録', class: 'btn btn-primary' %>
    </div>
<% end %>
